<% provide(:title,'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">Contact Info page</a> that is if your dumb lol bcoz if your not dumb u don need 2 lmao.
</p>
