<% provide(:title,'Help') %>
<h1>Help help HELPPPP</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<p>Access the Rails Tutorial by Michael Hartl <a href = "http://railstutorial.org/book">here</a> and get help <a href = "http://railstutorial.org/help">here</a> not if, but WHEN you got stuck, n00b.
